<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Online Python IDE</title>
   <meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
                <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="https://cse.google.com/cse.js?cx=016236012273495808262:cabujlbzuwi"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
        <script type="text/javascript" src="//cdn.datacamp.com/dcl-react.js.gz"></script>
        <link rel="stylesheet" href="../codemirror/theme/base16-dark.css" >
        <link rel="stylesheet" href="../codemirror/theme/yonce.css" >
     <link rel="stylesheet" href="../codemirror/theme/dracula.css" >
        <link rel="stylesheet" type="text/css" href="{% static 'css/codemirror/lib/codemirror.css' %}">
        <link rel="stylesheet" href="../codemirror/theme/eclipse.css" >
        <link rel="stylesheet" href="../codemirror/theme/night.css" >
        <script src="{% static 'css/codemirror/lib/codemirror.js' %}"></script>
        <script src="{% static 'css/codemirror/mode/python/python.js' %}"></script>
      
        <script src="../codemirror/mode/clike/clike.js"></script>
        <script src="../codemirror/mode/javascript/javascript.js"></script>
        <meta name="Description" content="Online Python IDE"/> 
           <meta name="Keywords" content="python,django,flask,numpy,pandas,matplotlib,python tutorial,matplotlib tutorial,Online Python IDE">
                   <script src="https://unpkg.com/applause-button/dist/applause-button.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/applause-button/dist/applause-button.css">
         <!-- add the button style & script -->
        <link rel="stylesheet" href="applause-button.css" />
        <script src="applause-button.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Itim|Lato:700|Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.comcss?family=Noto+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arvo|Oswald:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Baloo+Thambi+2|Playfair+Display:900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <!--favicon icon-->
         <link rel="icon" href="../favicon2.png">
         <!--<script async src="https://cse.google.com/cse.js?cx=016236012273495808262:cabujlbzuwi"></script>-->

 
    <!--<script type="application/javascript" src="https://sdki.truepush.com/sdk/v2.0.2/app.js" async></script>
    <script>
    var truepush = window.truepush || [];
            
    truepush.push(function(){
        truepush.Init({
            id: "5fae20b78deea45b893fa56a"
        },function(error){
          if(error) console.error(error);
        })
    })
    </script>
-->
</head>
<body>
  <div class="loader"></div>

  <style>

    .loader {

    position: fixed;

    left: 0px;

    top: 0px;

    width: 100%;

    height: 100%;

    z-index: 9999;

    background: url('https://bestpythontutorials.com/loader.gif') 50% 50% no-repeat white;

}
    /*.row{
      display:block!important;
    }*/
    label,h1,h2,h3,h4,h5,h6{
       font-family: 'Big Shoulders Stencil Text', cursive!important;
    }
    textarea{
      box-shadow:none!important;
      outline:none!important;
      border:1px solid #737373!important;
      border-radius:1px!important;
      
    }
    a{
      color:white;
      text-decoration:none;
    }
    a:hover{
      color:white;
      text-decoration:none;
    }
   .form-group{
    margin-bottom:0px!important;
   }
   .newcolorbtn{
  background-color:transparent;
  color:black;
  border:none!important;
  box-shadow:none;
  outline: none;
}
.row{
  padding:0px;
}
.dark-mode i {
  background-color: black;
  color: white;
}
.dark-mode button {
  color: white;
}
.dark-mode ~ CodeMirror{
  background-color: black!important;
}
.dark-mode{
  background-color: black;
  color: white;
}

/*.newcolorbtn:hover{
  background-color:transparent;
  color:#04D2C8!important;
  border:1px solid #04D2C8!important;
}*/
  </style>
<nav class="navbar navbar-expand-lg navbar-dark" style="
    background-image: linear-gradient(192deg,#4537d1,#a54eee);font-family: 'Big Shoulders Stencil Text', cursive!important;color:white;">
  <a class="navbar-brand" href="#" style="font-family: 'Big Shoulders Stencil Text', cursive!important;">BestPythonTutorials<x style="color:lime;">.com</x><sup><b>IDE</b></sup></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tutorials
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Python</a>
          <a class="dropdown-item" href="#">Django</a>
          <a class="dropdown-item" href="#">Flask</a>
          <a class="dropdown-item" href="#">NumPy</a>
          <a class="dropdown-item" href="#">Pandas</a>
          <a class="dropdown-item" href="#">Matplotlib</a>
               </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-adjust"></i> Change Mode</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="#">Python IDE</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>
<form class="pl-4 pr-4 pb-5 pt-1" action="/home/run" method="post">
   {% csrf_token %}
  <div class="form-group mb-0">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <div class="form-group row">
    <label for="editor"></label>
    <textarea class="form-control col-lg-12" id="editor" rows="2" style="height:35vh;width:100%!important;" name="code_area" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{code}}</textarea>
</div>
<div class="form-group row" style="border:1px solid #737373;border-top:none;">
  <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"><img src="{% static 'images/file-code.svg' %}" style="height:15px;width:18px;">main.py</button>
  <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"><img src="{% static 'images/python.svg' %}" style="height:18px;width:18px;">Python 3</button>
 <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="submit" id="runbtn"><i class="fa fa-chevron-right"> </i>  Run</a></button>

    <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button" onclick="mode()"> <i class="fa fa-adjust"> </i></button>
     <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"> <i class="fa fa-upload"> </i></button>
     <button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"> <i class="fa fa-download"> </i></button>
<button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"> <i class="fa fa-copy"> </i></button>
<button class="btn newcolorbtn m-1" style="box-shadow:none!important;outline:none!important;border-radius:1px!important;" type="button"> <i class="fa fa-share"> </i></button>    
    
  </div>
   <div class="form-group row mt-0 pt-0" style="display:block!important;">
     <label for="input"><h4 class="mt-3 mb-0">INPUT <img src="{% static 'images/keyboard.svg' %}" style="height:30px;width:30px;"></h4></label>
   <p class="mt-0">(<b>Note:</b>If your program accepts inputs from a user, please enter inputs in the STDIN box below and then run your code.)</p>
   
    <textarea class="form-control col-lg-12 col-sm-12" id="input" name="input_area" rows="2" placeholder="Input Goes Here...">{{input}}</textarea>
</div>
<div class="form-group row mt-1 pt-0" style="display:block!important;">
    <label for="output"><h4 class="mt-3">OUTPUT <i class="fa fa-desktop"></i></h4></label>
    <textarea class="form-control col-lg-12 col-sm-12" id="output" rows="3" name="output_area" style="height:25vh;" readonly placeholder="Your output...">{{output}}</textarea>
    
  </div>
 <div class="form-group mt-1 ml-0 text-center">
   
  </div>
</form>
  <script>
      var editor = CodeMirror.fromTextArea(document.getElementById('editor'),{
      mode:"python",
      lineNumbers:true
    });

 $(window).load(function(){
      $('.loader').fadeOut('slow')
    })
 function mode() {
   var element = document.body;
   element.classList.toggle("dark-mode");
}
  </script>  


</body>
</html>